@import url(https://fonts.googleapis.com/css?family=Lato:700,300);

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 700;
}

i.fa {
  font-size: 200px;
  color: aquamarine;
}
